@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Edu+NSW+ACT+Foundation&family=Montserrat:wght@400;700&family=Oswald:wght@200;500&family=Poppins:ital,wght@0,200;0,300;1,200;1,300&family=Quicksand:wght@300;400;500;700&family=Roboto:ital,wght@0,400;0,500;1,300&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Next Rounded LT Pro Bold'), local('DIN-Next-LT-Pro-Next-Rounded-LT-Pro-Bold'),
        url('DINNextRoundedLTPro-Bold.woff2') format('woff2'),
        url('DINNextRoundedLTPro-Bold.woff') format('woff'),
        url('DINNextRoundedLTPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

*{
margin: 0;
padding: 0;
}

html{
    background-image: url(./dollar-currency-money-us-dollar-47344.jpeg);
}

html::before{
    content:none;
    background-color: gray;
    z-index: 2;
}

body{
    background-color: #090909;
    color: white;
    margin: auto;
    width: fit-content;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    padding: 0 7rem;
    box-shadow: black 0px 0px 5rem;
}

h1{
    margin: 2rem auto;
    font-family: Montserrat;
    text-align: center;
}

p{
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}

p>b{
    color: rgb(71, 134, 71);
}

@media screen and (max-width: 900px){
    body{
        padding:3rem;
    }
}

@media screen and (max-width: 600px){
    body{
        padding:1rem;
    }
}